.counter-container{
     display: flex;
     flex-flow: wrap;
}

.counter-container button{
     margin: 0 5px;
     margin-bottom: 15px;
}

.incrementByValye input {
    height: 40px;
    border-radius: 8px;
    border: none;
    padding: 0 25px;
    position: relative;
    top: -2px;
}